<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819137317729-u1t908bs8bv8jfb62m63qtpiu5pde3s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819137317729-u1t908bs8bv8jfb62m63qtpiu5pde3s4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>819137317729-esaabnur9k75cgpo878unlrfi83691nt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTp06mMLK1CNB6FKX-n0KvNBG1lG7AIYI</string>
	<key>GCM_SENDER_ID</key>
	<string>819137317729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsChat</string>
	<key>PROJECT_ID</key>
	<string>chatcompleto-299ad</string>
	<key>STORAGE_BUCKET</key>
	<string>chatcompleto-299ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819137317729:ios:61cd152fb6db6904eb5320</string>
</dict>
</plist>